html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit
}

a {
  color: inherit;
  text-decoration: none;
}

H2,
H3,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  max-width: 100%;
}
:root {
  --CC9933-color: #CC9933;
  --F0BF5F-color: #F0BF5F;
  --A47312-color: #A47312;
  --E5E5E5-color: #E5E5E5;
  --333333-color: #333333;
  --666666-color: #666666;
  --FFFFFF-color: #FFFFFF;
  --000000-color: #000000;
  --999999-color: #999999;


}

@font-face {
  font-family: 'Muller';
  src: url("../fonts/MullerLight.woff2") format("woff2"),
    url("../fonts/MullerLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: url("../fonts/MullerRegular.woff2") format("woff2"),
    url("../fonts/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: url("../fonts/MullerMedium.woff2") format("woff2"),
    url("../fonts/MullerMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: url("../fonts/MullerBold.woff2") format("woff2"),
    url("../fonts/MullerBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  max-width: 1200px;
  font-family: Muller, sans-serif;
  font-style: normal;
  background-color: var(--E5E5E5-color);
  margin: 0 auto;
}


.wrapper {
  min-height: 100%;
  overflow: hidden;
  flex-direction: column;
}


/* glob */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: stretch;
}

.container {
  max-width: 1200px;
  margin: 0 auto 70px;
  padding: 0 15px;
  box-sizing: content-box;
}

@media (max-width: 992px) {
  .container {
    max-width: 800px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 650px;
  }
}

.section-title {
  margin-bottom: 20px;
  padding-left: 42px;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  color: var(--333333-color);
}

/* header */

.header-top {
  padding-top: 36px;
  align-items: center;
  margin-bottom: 30px;
  font-size: 0;
}

.header-logo {
  margin-right: 40px;
}

.header-logo-img {
  background-color: var(--E5E5E5-color);
}

.header-contact {
  flex-grow: 1;
}

.header-link {
  padding: 7px 5px 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: var(--666666-color);
  transition: color .2s ease-in-out;
}
.header-link:focus {
  color: var(--CC9933-color);
  outline: 1px solid var(--CC9933-color);
}
.header-link:hover {
  color:var(--CC9933-color);
}
.header-link:active {
  color: var(--A47312-color);
  outline: none;
}

.header-list-item:not(:last-child) {
  margin-right: 35px;
}

.header-left {
  /*margin-right: auto;*/
}

.lk-header {
  padding-bottom: 2px;
  padding-left: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--CC9933-color);
  transition: color .2s ease-in-out;
}
.header-link-lk {
  transition: color .2s ease-in-out;
  padding: 7px 5px 5px;
}
.header-link-lk svg {
  transition: fill .2s ease-in-out;
  fill: var(--CC9933-color);
}
.header-link-lk:focus svg {
  fill: var(--CC9933-color);
}
.header-link-lk:hover svg {
  fill: var(--F0BF5F-color);
}
.header-link-lk:active svg {
  fill: var(--A47312-color);
}
.header-link-lk:focus {
  color: var(--CC9933-color);
  outline: 1px solid var(--CC9933-color);
}
.lk-header:hover {
  color: var(--F0BF5F-color);
}
.header-link-lk:active {
  color: var(--A47312-color);
  outline: none;
}
.lk-header:active {
  color: var(--A47312-color);
}

.header-bottom {
  flex-wrap: wrap;
}

.header-nav {
  margin-top: 13px;
  margin-bottom: 13px;
  padding: 13px 56px 13px 45px;
}

.header-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: var(--666666-color);
}

.btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--CC9933-color);
  border: 1px solid var(--CC9933-color);
  border-radius: 15px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.btn:focus {
  background-color: var(--CC9933-color);
  color: #FFF
}
.btn:hover {
  background-color: var(--CC9933-color);
  color: #FFF
}
.btn:active {
  background-color: var(--A47312-color);
  color: #FFF
}

.nav-button{
  margin: 13px 45px 13px 56px;
}
.btn-nav {
  padding: 13px 20px;
}
.nav-link-want {
  margin-right: 45px;
}

.header-bottom {
  /* justify-content: space-around; */
  background: var(--FFFFFF-color);
  border-radius: 15px;
}

/* OFFERS */

.offers_content {
  min-height: 540px;
  /* outline: 1px solid red; */
}

.offers-block {
  flex-direction: column;
  width: calc((100% - 23px) / 2);
}

.offers-block:not(:last-child) {
  margin-right: 23px;
}

.offers-item {
  flex: 1;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 40px;
  padding-bottom: 40px;
  margin-bottom: 23px;
  border-radius: 15px;
  position: relative;
}
.offers-item::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent;
  background-image: linear-gradient(90deg, #304059 1%, transparent);
  opacity: .7;
  border-radius: 15px;
  position: absolute;
  z-index: ;
}

.offers-item:last-child {
  margin-bottom: 0;
}

.offers-maldiv {
  background-image: url("../img/offers-card1.jpg");
}


.offers-krit {
  background-image: url("../img/offers-card2.jpg");
}

.offers-article-right {
  background-image: url("../img/offers-card3.jpg");
}

.offers-item-title {
  max-width: 400px;
  padding-top: 40px;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: var(--FFFFFF-color);
}

.offers-price {
  display: block;
  margin-bottom: 47px;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  color: var(--FFFFFF-color);
}

.offers-link {
  padding-right: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: var(--F0BF5F-color);
  background-image: url("/img/more.svg");
  background-repeat: no-repeat;
  background-position: right center;
}

.offers-link:active {
  color: #FFF
}

.offers-title-right {
  margin-top: 200px;
  max-width: 400px;
  margin-bottom: 15px;
  font-size: 60px;
  font-weight: 700;
  line-height: 1em;
  color: var(--FFFFFF-color);
  z-index: 5;
}

.offers-price-right {
  display: block;
  margin-bottom: 47px;
  font-size: 30px;
  font-weight: 400;
  line-height: 1em;
  color: var(--FFFFFF-color);
}

/*about-us*/

.about-us-descr {
  font-size: 16px;
  font-weight: 400;
  line-height: 200%;
  color: var(--000000-color);
}

/* services */

.services-list {
  flex-wrap: wrap;
}

.services-list-item {
  width: 573px;
  min-height: 330px;
  margin-bottom: 23px;
  border-radius: 15px;
  overflow: hidden;
  font-size: 0;
}

.services-list-item:not(:nth-child(2n)) {
  margin-right: 23px;
}

.article-preview {
  padding: 26px 45px 50px;
  background: var(--FFFFFF-color);
  height: 100%;

}

.services-card-title {
  color: var(--CC9933-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 2em;
  width: auto;
  padding-right: 5px;
  padding-bottom: 8px;
  /*padding-bottom: 1px;
  background-image: url(/img/services-card-title.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  transition: color .2s ease-in-out;*/
}
.services-card-link svg {
  stroke: var(--CC9933-color);
}

.services-card-title:hover {
  color: var(--F0BF5F-color);
}
.services-card-link:hover svg {
  stroke: var(--F0BF5F-color);
}
.services-card-title:active {
  color: var(--A47312-color);
}
.services-card-link:active svg {
  stroke: var(--A47312-color);
}



.services-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 2em;
}

/* advantage */

.advantage-list {
  flex-wrap: wrap;

}


.advantage-list-item {

  max-width: 189px;
  background: var(--FFFFFF-color);
  margin-bottom: 23px;
  padding: 42px;
  border-radius: 15px;

}

.advantage-list-item:not(:nth-child(4n)) {
  margin-right: 23px;
}

.advantage-list-icon {
  margin-bottom: 10px;
}

.advantage-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 2em;
  color: var(--000000-color);
}

/* accomodation */

.accom-container {
  flex-wrap: wrap;
}

.accom-list {
  flex-wrap: wrap;
}

.accom-item {
  flex-direction: column;
  width: 374px;
  min-height: 440px;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 23px;
  font-size: 0;
}

.accom-item:not(:nth-child(3n)) {
  margin-right: 23px;
}

.accom-item-more {
  background-image: url(../img/accom-photo9.png);
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 27px;
}

.accom-text {
  padding-left: 45px;
  padding-right: 20px;
  background-color: var(--FFFFFF-color);
  height: 100%;
}

.accom-card-price {
  display: inline-block;
  margin-right: 43px;
  margin-bottom: 16px;
  margin-top: 35px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1em;
  color: var(--999999-color);
}

.accom-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: var(--000000-color);
}

.accom-price-srok {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--000000-color);
}


.accom-card-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  margin-bottom: 16px;
  color: var(--000000-color);
}

.accom-card-descr {
  margin-bottom: 33px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--999999-color);
}

.accom-button {
  padding: 13px 20px;
  margin-bottom: 38px;
}

.accom-item-more {
  position: relative;
}

.accom-more-link {
  padding-right: 15px;
  background-image: url(../img/accom-more-link.svg);
  background-repeat: no-repeat;
  background-position: right center;
  font-weight: 500;
  font-size: 20px;
  line-height: 2em;
  color: var(--FFFFFF-color);
}
.accom-more-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* want */

.want-tour-container {
  background: #E9E9E9;
  border-radius: 15px;
  min-height: 256px;
}

.want-tour-title {
  padding-top: 45px;
}

.form {
  background-color: var(--FFFFFF-color);
  margin: 0 45px 45px;
  border-radius: 15px;
}

.form-list {
  justify-content: space-evenly;
}

@media (max-width: 992px) {
  .form-list {
    flex-wrap: wrap;
  }

}


.form-item {
  flex-direction: column;
  margin-bottom: 32px;

}

.form-item-geo {
  max-width: 169px;
}

.form-item-calc {
  max-width: 121px;
}

.form-item-descr {
  padding-top: 31px;
  padding-bottom: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1em;
  color: var(--000000-color);
}

.btn-item {
  align-items: center;
}
.btn-form {
  padding: 13px 30px;

}

/*contacts*/

.contacts-container {
  width: 100%;
  background-color: #FFF;
  justify-content: space-between;
  border-radius: 15px;
}

.contacts-row .contacts-list {
  width: 37%;
}

.contacts-row .contacts-image {
  width: 55%;
}

.contacts-list {
  max-width: 375px;
  flex-direction: column;
  padding: 45px 45px 0 45px;
}

.contacts-list-item {
  justify-content: space-between;
  padding-bottom: 23px;
  border-bottom: 1px solid #E9E9E9;
}

.contacts-list-item:not(:first-child) {
  margin-top: 25px;
}


.contacts-list-item .cell:first-child {
  width: 30%;
}

.contacts-list-item .cell:nth-child(2) {
  width: 65%;
}

.contacts-btn {
  margin-top: 45px;
  padding: 27px 29.5px;
}

.cell-text {
  color: #000;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.cell-link-item {
  padding: 5px;
  color: var(--CC9933-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
.cell-link-item {
  transition: color .2s ease-in-out;
}
.cell-link-item:focus {
  color: var(--CC9933-color);
  outline: 1px solid var(--CC9933-color);
}
.cell-link-item:hover {Ñ„
  color: var(--F0BF5F-color);
}
.cell-link-item:active {
  color: var(--A47312-color);
  outline: none;
}



.cell-mail-text {
  color: var(--999999-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.contacts-list-btn {
  background-color: #FFF;
  margin-top: 45px;
  margin-bottom: 45px;
}

.contacts-image {
  padding: 45px 45px 45px 0;
  max-width: 653px;
}

/*FOOTER*/

.footer {
  background-color: #333;
  border-radius: 15px;
  background-image: url(../img/footer-img.svg);
  background-repeat: no-repeat;
  background-position: 80% 100%;
  margin-bottom: 30px;
}

.footer-container {
  justify-content: space-between;
  margin-bottom: 0;
}

.footer-block {
  display: inline-flex;
  margin: 45px;
}

.footer-block-left {
  flex-direction: column;
  margin-right: 125px;
  max-width: 302px;
}

.footer-block-center {
  flex-direction: column;
  max-width: 360px;
}

.footer-block-right {
  display: inline-flex;
  justify-content: flex-end;

}


.footer-item-left:not(:last-child) {
  margin-bottom: 38px;
}

.footer-item-center:not(:last-child) {
  margin-bottom: 15px;
}

.footer-item-text {
  color: var(--FFFFFF-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 190%;
}

.footer-social-link {
  flex-direction: column;
  margin-top: 45px;
  margin-right: 45px;
}

.social-link {
  display: block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

}
.social-link svg {
  fill: var(--999999-color);
  transition: fill 0.2s ease-in-out;
}

.social-link:focus svg {
  fill: var(--CC9933-color);
}
.social-link:hover svg {
  fill: var(--CC9933-color);
}
.social-link:active svg {
  fill: var(--A47312-color);
}

.social-link:not(:last-child) {
  margin-bottom: 20px;
}
